<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.excerpt }}">
  <meta name="author" content="Sean Quinlan" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="http://seanquinlan.com/atom.xml" rel="alternate" title="Sean Quinlan" type="application/atom+xml" />
  
  <link rel="shortcut icon" href="/favicon.ico" />
  
  <!-- OG Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="http://seanquinlan.com{{ page.url }}" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <meta property="og:image" content="http://seanquinlan.com/images/farmer.png" />

  <!-- Skeleton CSS -->
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
   
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
   
  <!-- Site CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="container">
    
    <div class="sixteen columns title">
      <div class="eight columns">
        <a href="/index.html" title="Sean Quinlan"> <h1>Sean Quinlan</h1> <p></p> </a>
      </div>
      
      <div class="eight columns nav">
        <div><a href="/projects.html">projects</a></div>
        <div><a href="http://twitter.com/squinlan">twitter</a></div>
        <div><a href="http://github.com/sbquinlan">github</a></div>
      </div>
    </div>
    
    <div id="content" class="sixteen columns">
      {{ content }}
    </div>
    
    <div id="footer" class="sixteen columns">
      <p>© 2012 Sean Quinlan</p>
    </div>
    
    <!-- Clicky -->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66591177); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66591177ns.gif" /></p></noscript>
  </div>
</body>
</html>